<p id="notice"><%= notice %></p>
<div class="main-title">
     <h1>Where have I been ?</h1>
</div>

<div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>