<div class="navbar">
  <div class="navbar__left">
    <%= link_to 'Portfolio', root_path, class:'navbar__portoflio' %>
  </div>
  <div class="navbar__right">
    <%= link_to 'About me', root_path %>
    <%= link_to 'Contact me', root_path  %>
  </div>
</div>