<div class="container margin-center landing__container h-centered v-centered">
  <div class="container u-center-text">
    <h1>Welcome</h1>
    <h2>I'm Simon</h2>
  </div>
</div>

<div class="container margin-center landing__container h-centered v-centered">
  <div class="presentation__grid">
    <div class="presentation__grid--left">
    </div>
    <div class="presentation__grid--right">
    </div>
  </div>
</div>